@model testProject.Areas.Projects.Models.ProjectViewModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@using System.Security.Claims;
@{
    ViewData["Title"] = Model.Project.Name;
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <div class="project__body">
        <div class="project__toast hidden">
            <p></p>
        </div>
        <div class="project__header">
            @if (!string.IsNullOrEmpty(@Model.Project.Repository))
            {
                <div class="project__repository-link mobile hidden">
                    <i class="fa fa-github"></i>
                    <a href="@Model.Project.Repository" target="_blank">View on GitHub</a>
                </div>
            }
            <h1>@Model.Project.Name</h1>  
            <div class="project__header-info">
                <div>
                    <i class="fa fa-align-left"></i>
                    <p>Complexity: @Model.Project.Level</p>     
                </div>
                <div>
                    <i class="fa fa-clock-o"></i>
                    <p>Expected duration: @Model.Project.Duration weeks</p>  
                </div>
                <div>
                    <i class="fa fa-calendar"></i>
                    <p>Creation date: @Model.Project.CreationDate.ToString("dd.MM.yyyy")</p>     
                </div>
                @if (!string.IsNullOrEmpty(@Model.Project.Repository))
                {
                    <div class="project__repository-link">
                        <i class="fa fa-github"></i>
                        <a href="@Model.Project.Repository" target="_blank">View on GitHub</a>
                    </div>
                }
            </div>
        </div>
        <div class="project__content">
            <div class="project__technologies">
                <h2>Technologies:</h2>
                <div>
                    @foreach (var tech in Model.Technologies)
                    {
                        <p>@tech.Name</p>
                    }                   
                </div>
            </div>
            <div class="project__description">
                <h2>Project description:</h2>
                <p>@Model.Project.Description</p>
            </div>
            <div class="project__actions">
                <div>
                    <h3><i class="fa fa-info"></i>Status: <span>@Model.Project.Status</span></h3>
                </div>
                <div class="project__actions-buttons">
                    <button onclick="createNewRequest(@Model.Project.ProjectsId)">
                        <i class="fa fa-user-plus"></i>
                        <p>Join request!</p>
                    </button>
                    <button class="light" onclick="window.location.href='/'">
                        <i class="fa fa-search"></i>
                        <p>Other projects</p>
                    </button>
                </div>
            </div>
            <div class="project__team">
                <h2>Team: <span>(@Model.Team.Count() members)</span></h2>
                <div class="project__team-dropdown">
                    @foreach (var member in Model.Team)
                    {
                        <div class="project__team-dropdown-item">
                            @if (member.Id == Convert.ToUInt32(User.FindFirstValue(ClaimTypes.NameIdentifier)))
                            {
                                <a href="@Url.Action("Index", "Account", new {area = "UserAccount"})">
                                    <img src="@member.Photo" />
                                    <p>@member.FirstName @member.LastName</p>
                                </a>
                            }
                            else
                            {
                                <a href="@Url.Action("Profile", "Profile", new {area = "UserAccount", id=@member.Id})">
                                    <img src="@member.Photo" />
                                    <p>@member.FirstName @member.LastName</p>
                                </a>
                            }                            
                            @if (member.Id == Model.Project.UsersId)
                            {
                                <p>(Owner)</p>
                            }                           
                        </div>
                    }
                </div>
            </div>
        </div>
        <partial name="_ToProjectCreationPartial" />
        <svg class="user-account-day__color-mode-switch hidden"
             width="112"
             height="112"
             viewBox="0 0 112 112"
             fill="none"
             xmlns="http://www.w3.org/2000/svg">
            <circle cx="55.915"
                    cy="55.915"
                    r="42.9456"
                    transform="rotate(22.0213 55.915 55.915)"
                    fill="#183D3D" />
            <path fill-rule="evenodd"
                  clip-rule="evenodd"
                  d="M43.6879 87.4928C60.7391 94.3892 80.1524 86.1573 87.0489 69.1061C93.9454 52.055 85.7134 32.6416 68.6623 25.7452C64.548 24.0811 60.2962 23.2978 56.1158 23.3067C69.4154 30.7642 75.4117 47.124 69.544 61.6313C63.5017 76.5707 47.0502 84.1759 31.9341 79.467C35.1271 82.8589 39.0864 85.6316 43.6879 87.4928Z"
                  fill="#DEF5E5" />
        </svg>
    </div>
    <script src="@Url.Content("~/js/ProjectPage.js")"></script>
</body>
</html>