@model testProject.Models.User
@{
    ViewData["Title"] = $"{Model.FirstName} {Model.LastName}";
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
</head>
<body>
    <div class="user-account-day">
        <div class="user-account-day__page-content">
            <div class="user-account-day__sign-out">
            </div>
            <div class="user-account-day__user-account">
                <div class="user-account-day__user-image-container" id="userImageContainer">
                    <img src="@Model.Photo" class="user-account-day__user-image" id="userImage" />
                </div>
                <div class="user-account-day__user-account-details">
                    <h2>
                        @Model.FirstName @Model.LastName
                    </h2>
                    <div class="user-account-day__user-email">
                        <p>Email:</p>
                        <p>@Model.Email</p>
                    </div>
                    <div class="user-account-day__user-socials">
                        <div class="user-account-day__user-socials-container">
                            <h3 class="user-account-day__user-details-header">
                                Social Media Links:
                            </h3>
                            @foreach (var socialMedia in Model.SocialMedias)
                            {
                                <div>
                                    <i class=""></i>
                                    <a href="@socialMedia.Url" target="_blank"></a>
                                </div>
                            }
                        </div>
                    </div>
                    <div>
                        <h3 class="user-account-day__user-details-header">
                            Skills:
                        </h3>
                        <div class="user-account-day__technologies" id="userAccountTechnologies">
                            @foreach (var technology in Model.UsersTechnologies)
                            {
                                <div>
                                    <p>@technology.Technologies.Name</p>
                                </div>
                            }
                        </div>
                    </div>
                    <div class="user-account-day__self-description">
                        <h3 class="user-account-day__user-details-header">
                            Self-description:
                        </h3>
                        <textarea readonly
                                  name="updatedDescription"
                                  spellcheck="false"
                                  type="text"
                                  id="selfDescriptionText"
                                  oninput="auto_height(this)"
                                  onmousemove="auto_height(this)"
                                  onresize="auto_height(this)">@Model.About
                        </textarea>
                    </div>
                </div>
            </div>  
            <div class="user-account-day__horizontal-container">
                <div class="user-account-day__user-projects">
                    @if (!Model.ProjectsUser.Any())
                    {
                        <h2>
                            @Model.FirstName @Model.LastName hasn`t participated in any projects yet
                        </h2>
                    }
                    else
                    {
                        <h2>
                            Projects in which @Model.FirstName @Model.LastName participates:
                        </h2>
                    }
                    <div class="user-profile-day__projects-container">
                        @foreach (var project in Model.ProjectsUser)
                        {
                            <div class="user-account-day__project">
                                <h2>@project.Projects.Name</h2>
                                <div class="user-account-day__project-technologies-container">
                                    <h3>
                                        Technologies:
                                    </h3>
                                    <div class="user-account-day__technologies">
                                        @{
                                            int technologiesCount = project.Projects.ProjectsTechnologies.Count() >= 3 ? 3 : project.Projects.ProjectsTechnologies.Count();
                                        }
                                        @for (int i = 0; i < technologiesCount; i++)
                                        {
                                            <div>
                                                <p>@project.Projects.ProjectsTechnologies.ElementAt(i).Technologies.Name</p>
                                            </div>
                                        }
                                        @if (project.Projects.ProjectsTechnologies.Count() > 3)
                                        {
                                            <div class="user-account-day__technologies_and_more">
                                            <p>and @(project.Projects.ProjectsTechnologies.Count() - 3) more</p>
                                            </div>
                                        }
                                    </div>
                                </div>
                                <div class="user-account-day__project-info">
                                    <div>
                                        <h3>Owner:</h3>
                                        <p>@project.Projects.Users.FirstName @project.Projects.Users.LastName</p>
                                    </div>
                                    <div>
                                        <h3>
                                            Creation Date:
                                        </h3>
                                        <p>@project.Projects.CreationDate.ToString("dd.MM.yyyy")</p>
                                    </div>
                                    <div>
                                        <h3>Status:</h3>
                                        <p>@project.Projects.Status</p>
                                    </div>
                                    <a class="button" id="user-account-day__detailed-info-button" href="@Url.Action("Index", "Public", new {area = "Projects", id=project.ProjectsId})">
                                        <p>View more</p>
                                    </a>
                                </div>
                            </div>   
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="@Url.Content("~/js/LinksHandler.js")"></script>
    <script>
        var descTextArea = document.getElementById("selfDescriptionText");
        function auto_height(elem) {
            elem.style.height = '1px';
            elem.style.height = `${elem.scrollHeight}px`;
        }

        window.onload = function () {
            auto_height(descTextArea);
        }

        const socialsContainer = document.querySelector(".user-account-day__user-socials-container");
        Array.from(socialsContainer.children).forEach(function (item) {
            var i = item.querySelector("i");
            var link = item.querySelector("a");
            if (link != null && i != null) {
                link.textContent = extractRootDomain(link.href);
                link = link.href;
                i.className = assignFaClass(link);
            }
        });
    </script>
</body>
</html>
