@using System.Security.Claims;
@using testProject.Models;
@model testProject.Areas.UserAccount.Models.OwnProjectsViewModel;

<div class="user-account-day__user-own-projects-tab">
    <div class="user-account-day__user-projects">
        @if (!Model.Projects.Any())
        {
            <div class="user-account-day__no-items">
                <h3>It looks like you haven't created any projects yet. Start a new project to see it listed here.</h3>
                </div>
        }
        <div class="user-account-day__projects-container">
            @foreach (var project in Model.Projects)
            {
                <div id="project-card" data-modal-id="project-modal-@project.ProjectsId" class="user-account-day__project">
                    <h2>@project.Name</h2>
                    <div class="user-account-day__project-technologies-container">
                        <h3>
                            Technologies:
                        </h3>
                        <div class="user-account-day__technologies">
                            @{
                                int technologiesCount = project.ProjectsTechnologies.Count() >= 3 ? 3 : project.ProjectsTechnologies.Count();
                            }
                            @for (int i = 0; i < technologiesCount; i++)
                            {
                                <div>
                                    <p>@project.ProjectsTechnologies.ElementAt(i).Technologies.Name</p>
                                </div>
                            }
                            @if (project.ProjectsTechnologies.Count() > 3)
                            {
                                <div class="user-account-day__technologies_and_more">
                                    <p>and @(project.ProjectsTechnologies.Count() - 3) more</p>
                                </div>
                            }
                        </div>
                    </div>
                    <div class="user-account-day__project-info">
                        <div>
                            <h3>Owner:</h3>
                            <p>@project.Users.FirstName @project.Users.LastName</p>
                        </div>
                        <div>
                            <h3>
                                Creation Date:
                            </h3>
                            <p>@project.CreationDate.ToString("dd.MM.yyyy")</p>
                        </div>
                        <div>
                            <h3>Status:</h3>
                            <p>@project.Status</p>
                        </div>
                        <button class="modal__open-button" id="user-account-day__detailed-info-button"
                                data-modal-id="project-modal-@project.ProjectsId" type="button">
                            <p>View more</p>
                        </button>
                    </div>
                </div>

                <div class="modal__container hidden" id="project-modal-@project.ProjectsId" data-owner="@project.UsersId">
                    <div class="modal__body">
                        @if (@project.Users.Id.ToString().Equals(User.FindFirstValue(ClaimTypes.NameIdentifier)))    // якщо поточний користувач є власником
                        {
                            <input class="hidden" id="isUserOwner" data-isOwner="true" />
                        }
                        else
                        {
                            <input class="hidden" id="isUserOwner" data-isOwner="false" />
                        }
                        <div class="modal__header-container">
                            <div class="modal__header">
                                <h1>@project.Name</h1>
                                <button class="modal__close-button">
                                    <div class="cross-line"></div>
                                    <div class="cross-line"></div>
                                </button>
                            </div>
                            <div class="modal__project-status">
                                <p>Status: </p>
                                <div>
                                    <span>@project.Status</span>
                                    <input class="hidden" name="updatedProjectStatus"
                                           data-url="@Url.Action("EditProjectStatus", "Projects", new { area = "UserAccount" })"
                                           data-projectId="@project.ProjectsId" />
                                    @if (@project.Users.Id.ToString().Equals(User.FindFirstValue(ClaimTypes.NameIdentifier)))    // якщо поточний користувач є власником
                                    {
                                        <div class="modal__project-status-select-items">
                                            <p>searching for participants</p>
                                            <p>draft</p>
                                            <p>in development</p>
                                            <p>completed</p>
                                        </div>
                                    }
                                </div>
                            </div>
                            @if (!string.IsNullOrEmpty(@project.Repository))
                            {
                                <div class="modal__repository">
                                    <div>
                                        <i class="fa-brands fa-github"></i>
                                        <a href="@project.Repository" target="_blank">View on GitHub</a>
                                    </div>
                                </div>
                            }
                        </div>    
                        <div class="modal__body-subject">
                            <h3>
                                Technologies:
                            </h3>
                            <div class="modal__technologies-container hover-active">
                                @foreach (var projectTechnology in project.ProjectsTechnologies)
                                {
                                    <div id="tech">
                                        @if (@project.Users.Id.ToString().Equals(User.FindFirstValue(ClaimTypes.NameIdentifier)))    // якщо поточний користувач є власником
                                        {
                                            <span class="modal__tooltip">Click to delete</span>
                                            <div class="removeTechOverlay"></div>
                                        }
                                        <p>@projectTechnology.Technologies.Name</p>
                                    </div>
                                }
                                @if (@project.Users.Id.ToString().Equals(User.FindFirstValue(ClaimTypes.NameIdentifier)))    // якщо поточний користувач є власником
                                {
                                    <div id="modalAddProjectTechnology" style="cursor: pointer">
                                        <img src="~/images/plus-image0.png" onclick="openModalTechsDropdow(@project.ProjectsTechnologies)" />
                                    </div>
                                    <div class="modal__technologies-dropdown hidden" id="modalProjectTechnologiesDropdown">
                                        <div class="header">
                                            <input type="text" placeholder="Search..." id="projectTechSearchInput" />
                                            <img src="~/images/cancel.png" />
                                        </div>
                                        <div class="container" id="projectDropdownTechsContainer">
                                            @foreach (var tech in Model.Technologies)
                                            {
                                                <p onclick="chooseProjectTech('@tech.Name')" id="projectTechsDropdownItem">@tech.Name</p>
                                            }
                                        </div>
                                    </div>
                                }
                            </div>
                        </div>
                        <div class="modal__body-subject">
                            <h3>Project description:</h3>
                            <p class="modal__text-expandable">@project.Description</p>
                            <button id="buttonExpandDescription" class="button align-self-end">More</button>
                        </div>


                        @if (@project.Users.Id.ToString().Equals(User.FindFirstValue(ClaimTypes.NameIdentifier)))
                        {
                            <div class="modal__body-subject">
                                <h3>GitHub repository:</h3>
                                @if (string.IsNullOrEmpty(@project.Repository))
                                {
                                    <div class="modal__repository-container">
                                        <input type="text" class="modal__repository-link-input" placeholder="Insert a link to the project's repository here"
                                               data-projectId="@project.ProjectsId">
                                        <button class="button modal__repository-add-button">Add</button>
                                    </div>
                                }
                                else
                                {
                                    <div class="modal__repository-container">
                                        <input type="text" readonly class="modal__repository-link-input"
                                               data-projectId="@project.ProjectsId" value="@project.Repository">
                                        <button class="button modal__repository-edit-button">Edit</button>
                                        <button class="button modal__repository-delete-button">Delete</button>
                                    </div>
                                }
                            </div>
                        }

                        <div class="modal__body-subject modal__flex-row-item">
                            <h3>Team:</h3>
                            <div class="modal__user-item">
                                @if (@project.Users.Id.ToString().Equals(User.FindFirstValue(ClaimTypes.NameIdentifier)))
                                {
                                    <a href="@Url.Action("Index", "Account", new {area = "UserAccount"})">
                                        <img src="@project.Users.Photo" />
                                        <p>@project.Users.FirstName @project.Users.LastName (Owner)</p>
                                    </a>
                                }
                                else
                                {
                                    <a href="@Url.Action("Profile", "Profile", new {area = "UserAccount", id=project.Users.Id})">
                                        <img src="@project.Users.Photo" />
                                        <p>@project.Users.FirstName @project.Users.LastName (Owner)</p>
                                    </a>
                                }
                            </div>

                            <div class="modal__team-dropdown-header" id="showTeamMembers">
                                @if (project.ProjectsUsers.Count >= 2)
                                {
                                    <p class="">and @(project.ProjectsUsers.Count - 1) more...</p>
                                    <i class="arrow up hidden"></i>
                                }
                            </div>
                            <div class="modal__team-dropdown hidden">
                                <div class="modal__team-dropdown-items" id="teamMembersDropdown">
                                    @foreach (var member in project.ProjectsUsers)
                                    {
                                        @if (@project.UsersId != member.Users.Id)
                                        {
                                            <div class="modal__user-item" data-userId="@member.Users.Id"
                                                 data-url="@Url.Action("DeleteUserFormProject", "Projects", new { area = "UserAccount" })"
                                                 data-projectId="@project.ProjectsId">
                                                @if (member.Users.Id.ToString().Equals(User.FindFirstValue(ClaimTypes.NameIdentifier)))
                                                {
                                                    <a href="@Url.Action("Index", "Account", new {area = "UserAccount"})">
                                                        <img src="@member.Users.Photo" />
                                                        <p>@member.Users.FirstName @member.Users.LastName</p>
                                                    </a>
                                                }
                                                else
                                                {
                                                    <a href="@Url.Action("Profile", "Profile", new {area = "UserAccount", id=@member.Users.Id})">
                                                        <img src="@member.Users.Photo" />
                                                        <p>@member.Users.FirstName @member.Users.LastName</p>
                                                    </a>
                                                }


                                                @if (@project.Users.Id.ToString().Equals(User.FindFirstValue(ClaimTypes.NameIdentifier)))    // якщо поточний користувач є власником
                                                {
                                                    <i class="fa fa-user-times" aria-hidden="true"></i>
                                                }
                                            </div>
                                        }
                                    }
                                </div>
                            </div>
                        </div>
                        <div class="modal__body-subject modal__flex-row-item">
                            <h3>Additional information:</h3>
                            <p>Complexity level: @project.Level</p>
                            <p>Creation date: @project.CreationDate</p>
                            <p>Expected duration: @project.Duration weeks</p>
                        </div>

                        @if (@project.Users.Id.ToString().Equals(User.FindFirstValue(ClaimTypes.NameIdentifier)))
                        {
                            <div class="modal__body-subject">
                                @if (project.Requests.Where(r => r.ProjectsId == project.ProjectsId
                               && r.Status == "considering" && r.IsHidden == false).Count() > 0)
                                {
                                    <h3>Requests:</h3>
                                    <div class="modal__request-container">

                                        @foreach (var request in project.Requests.Where(r => r.ProjectsId == project.ProjectsId
                                       && r.Status == "considering" && r.IsHidden == false))
                                        {
                                            <div class="modal__request-item">
                                                <button class="modal__request-hide-button" data-requestId="@request.RequestsId"
                                                        data-userId="@request.UsersId" data-projectId="@request.ProjectsId"
                                                        data-userPhoto="@request.Users.Photo">
                                                    <div class="cross-line"></div>
                                                    <div class="cross-line"></div>
                                                </button>
                                                <div class="modal__request-body">
                                                    <h3>
                                                        Request by <a href="@Url.Action("Profile", "Profile", new {area = "UserAccount", id=@request.Users.Id})">
                                                            <span>@request.Users.FirstName @request.Users.LastName</span>
                                                        </a>
                                                    </h3>
                                                    <div class="modal__request-details">
                                                        <div>
                                                            <h4>Created: </h4>
                                                            <p>@request.Date.ToString("dd.MM.yyyy")</p>
                                                        </div>
                                                        <div>
                                                            <h4>Status: </h4>
                                                            <p>@request.Status</p>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="modal__request-button">
                                                    <button class="button align-self-end modal__request-accept-button"
                                                            data-requestId="@request.RequestsId"
                                                            data-userId="@request.UsersId" data-projectId="@request.ProjectsId"
                                                            data-userPhoto="@request.Users.Photo">
                                                        Accept
                                                    </button>
                                                </div>
                                            </div>
                                        }
                                    </div>

                                }
                                else
                                {
                                    <h3>No requests have been sent yet</h3>
                                }
                            </div>
                        }
                    </div>
                </div>
            }
        </div>
    </div>

    <div class="user-account-day__create-new-project-container">
        <form id="createNewProjectDetailed" class="user-account-day__create-new-project-detailed" method="post" enctype="multipart/form-data" action="@Url.Action("SaveNewProject", "Projects")">
            <div>
                <h2 class="user-account-day__create-new-project-header">
                    Here you can create your new project!
                </h2>
                <div class="user-account-day__project-name-container">
                    <textarea id="newAppName"
                              name="projectName"
                              minlength="4"
                              maxlength="100"
                              placeholder="Enter the app name or a project title here..."
                              oninput="auto_height(this)"></textarea>
                    <span class="user-account-day__tooltip">Write a valid project name!</span>
                </div>
            </div>
            <div class="user-account-day__project-description">
                <h3>
                    Describe your idea more:
                </h3>
                <div class="user-account-day__project-desc">
                    <textarea name="projectDescription"
                              minlength="12"
                              maxlength="1024"
                              placeholder="Write a description for your idea (up to 1024 characters)"
                              oninput="auto_height(this)"></textarea>
                    <span class="user-account-day__tooltip">Write a valid description!</span>
                </div>
            </div>
            <div class="user-account-day__repository">
                <h3>Add the GitHub repository (optionally):</h3>
                <div>
                    <input name="repositoryLink" type="text" placeholder="Provide a link to the project's repository" class="user-account-day__repository-link-input">
                    <span class="user-account-day__tooltip">Invalid GitHub link</span>
                </div>
            </div>
            <div class="user-account-day__new-project-technologies-container">
                <h3>
                    Choose the technologies your app will be based on:
                </h3>
                <div class="user-account-day__technologies hover-active" id="newProjectTechnologies">
                    <input type="text" class="hidden" name="projectTechnologies" id="projectTechnologiesInput" />
                    <div id="addProjectTechnology" style="cursor: pointer">
                        <img src="~/images/plus-image0.png" />
                    </div>
                    <span class="user-account-day__tooltip">Choose at least one technology!</span>
                    <div class="user-account-day__technologies-dropdown hidden" id="projectTechsDropdown">
                        <div class="header">
                            <input type="text" placeholder="Search..." id="projectTechSearchInput" onkeyup="dropdownFilterFunction(projectTechSearchInput, projectTechsDropdown)" />
                            <img src="~/images/cancel.png" id="closeProjectTechnologyDropdown" />
                        </div>
                        <div class="container" id="newProjectDropdownTechsContainer">
                            @foreach (var tech in Model.Technologies)
                            {
                                <p id="projectTechsDropdownItem">@tech.Name</p>
                            }
                        </div>
                    </div>
                </div>
            </div>
            <div class="user-account-day__new-project-level">
                <div class="header">
                    <h3>
                        Select the complexity level for your project:
                    </h3>
                    <div class="user-account-day__new-project-info top">
                        <img src="~/images/information.png" />
                        <div class="user-account-day__info-tooltip">
                            Declare the complexity level of your project so others learn if they're ready
                            to be a part of your team. For exapmle, it must be easy to create a static one-page website
                            but it is pretty hard to build a full-fledged analog of a popular social media.
                        </div>
                    </div>
                </div>
                <div class="user-account-day__new-project-level-dropdown">
                    <input class="hidden" type="text" name="projectLevel" />
                    <label for="projectLevel">Hover to choose</label>
                    <span class="user-account-day__tooltip">Set a complexity level!</span>
                    <div>
                        <p onclick="selectLevel('Easy')">Easy</p>
                        <p onclick="selectLevel('Medium')">Medium</p>
                        <p onclick="selectLevel('Hard')">Hard</p>
                    </div>
                </div>
            </div>
            <div class="user-account-day__new-project-duration">
                <div class="header">
                    <h3>Enter the expected duration of the work:</h3>
                    <div class="user-account-day__new-project-info top">
                        <img src="~/images/information.png" />
                        <div class="user-account-day__info-tooltip">
                            Enter the expected time needed to complete your project (in weeks).
                            It might help other developers to calculate their efforts, time
                            and make the right decision.
                        </div>
                    </div>
                </div>
                <div class="customNumberInput">
                    <i class="arrow left"></i>
                    <input type="number" name="projectDuration" min="1" max="100" value="1" />
                    <i class="arrow right"></i>
                </div>
            </div>
            <div class="user-account-day__buttons">
                <button type="reset"
                        class="user-account-day__create-project-button user-account-day__cancel-button">
                    <p>
                        Dismiss all
                    </p>
                </button>
                <button onclick="validateAndSubmit()"
                        type="button"
                        class="user-account-day__create-project-button"
                        id="createProjectButton">
                    <p>
                        Create the project!
                    </p>
                </button>
            </div>
        </form>
    </div>
</div>
