@model List<testProject.Models.Notification>
@{
    ViewData["Title"] = "Index";
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
</head>
<body>
    <div class="notifications__body">
        <div class="notifications__header">
            <div>
                <i class="fa fa-bell"></i>
                <p></p>
            </div>
            <h1>Your notifications</h1>
        </div>
        <div class="notifications__notification-items-container">
            <h1 class="hidden">You don’t have any notifications yet</h1>
            @{
                var orderedNotifications = Model.OrderByDescending(notification => notification.CreatedAt).ToList();
            }

            @foreach (var notification in orderedNotifications)
            {
                <div class="notifications__notification-item @(notification.isRead ? "" : "notifications__notification-item-new")"
                     data-notification-id="@notification.NotificationsId">
                    <div class="notifications__notification-item-header">
                        <h3>@notification.Title</h3>
                        @* <button class="modal__close-button">
                            <i class="cross-line"></i>
                            <i class="cross-line"></i>
                           </button> *@
                    </div>
                    <p>@notification.Content</p>
                    @* <button class="button"></button> *@
                    <p>@notification.CreatedAt.ToString("dd.MM.yyyy HH:mm")</p> 
                </div>
            }
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/@@microsoft/signalr@7.0.14/dist/browser/signalr.min.js"></script>
    <script src="@Url.Content("~/js/Notifications.js")"></script>
</body>
</html>