@model testProject.Areas.UserAccount.Models.AccountViewModel
@{
    ViewData["Title"] = "Account";
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
</head>
<body>
    <div class="user-account-day">
        <div class="user-account-day__page-content">
            <div class="user-account-day__sign-out">
        </div>
            <form class="user-account-day__user-account" method="post" enctype="multipart/form-data" action="@Url.Action("SaveUserChanges", "Account")">
                <div class="user-account-day__user-image-container" id="userImageContainer">
                    <img src="@Model.User.Photo" class="user-account-day__user-image" id="userImage" />
                    <div class="user-account-day__change-user-image-overlay">
                        <p id="changeUserImageText">Click to change<span>(Maximum image size: 7 MB)</span></p>
                        <input class="user-account-day__input-user-image" type="file" accept="image/jpeg, image/jpg, image/png" name="file" id="imageInput" />
                        <label for="imageInput"></label>
                        <img src="~/images/cancel.png" class="user-account-day__delete-user-image-button" id="deleteUserImageButton" onclick="deleteUserImage()" />
                    </div>
                </div>
                <div class="user-account-day__user-account-details">
                    <div class="user-account-day__user-name-and-email">
                        <div>
                            <h2>
                                @Model.User.FirstName @Model.User.LastName
                            </h2>
                        </div>
                        <div class="user-account-day__user-email">
                            <p>Email:</p>
                            <p>@Model.User.Email</p>
                        </div>
                    </div>
                    <input type="text" class="hidden" name="newSocialMediasArray" id="newSocialMediasArray" />
                    <input type="text" class="hidden" name="originalSocialMediasArray" id="originalSocialMediasArray" />
                    <div class="user-account-day__user-socials">
                        <div class="user-account-day__user-socials-container">
                            <h3 class="user-account-day__user-details-header">
                                Social Media Links:
                            </h3>
                            @foreach (var socialMedia in Model.User.SocialMedias)
                            {
                                <div>
                                    <i class=""></i>
                                    <a href="@socialMedia.Url" target="_blank"></a>
                                </div>
                            }
                            <div class="hidden" id="addLink">
                                <img src="~/images/plus-image0.png" />
                            </div>
                        </div>
                        <div class="hidden user-account-day__user-socials-input">
                            <input autocomplete="off" />
                            <button type="button" class="button">Add</button>
                        </div>
                    </div>
                    <div>
                        <h3 class="user-account-day__user-details-header">
                            Skills:
                        </h3>
                        <div class="user-account-day__technologies" id="userAccountTechnologies">
                            @foreach (var technology in Model.User.UsersTechnologies)
                            {
                                <div onclick="removeUserTech(this, '@technology.Technologies.Name')">
                                    <span class="user-account-day__tooltip">Click to delete</span>
                                    <div class="removeTechOverlay"></div>
                                    <p>@technology.Technologies.Name</p>
                                </div>
                            }
                            <input type="text" class="hidden" name="userTechsArray" id="userTechsInput" />
                            <input type="text" class="hidden" name="updatedUserTechsArray" id="updatedUserTechsArray" />
                            <div class="hidden" id="addUserTechnology" onclick="openTechsDropdown(userTechsDropdown, addUserTechnology)" style="cursor: pointer">
                                <img src="~/images/plus-image0.png" />
                            </div>
                            <div class="user-account-day__technologies-dropdown hidden" id="userTechsDropdown">
                                <div class="header">
                                    <input type="text" placeholder="Search..." id="userTechSearchInput" onkeyup="dropdownFilterFunction(userTechSearchInput, userTechsDropdown)" />
                                    <img src="~/images/cancel.png" onclick="closeTechsDropdown(userTechsDropdown, addUserTechnology)" />
                                </div>
                                <div class="container" id="dropdownTechsContainer">
                                    @foreach(var tech in Model.Technologies)
                                    {
                                        <p onclick="chooseUserTech('@tech.Name')" id="userTechsDropdownItem">@tech.Name</p>
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="user-account-day__self-description">
                        <h3 class="user-account-day__user-details-header">
                            Self-description:
                        </h3>
                        <textarea readonly
                                  name="updatedDescription"
                                  spellcheck="false"
                                  type="text"
                                  id="selfDescriptionText"
                                  oninput="auto_height(this)"
                                  onmousemove="auto_height(this)"
                                  onresize="auto_height(this)">@Model.User.About</textarea>
                    </div>
                    <div class="user-account-day__profile-buttons">
                        <button class="hidden" id="buttonSaveProfileChanges" type="submit">
                            <p>Save Changes</p>
                        </button>
                        <button onclick="editProfile()" id="buttonEditProfile" type="button">
                            <p>Edit Profile</p>
                        </button>
                        <button onclick="stopEditingProfile()" class="hidden" id="buttonCancelProfileChanges" type="reset">
                            <p>Cancel</p>
                        </button>
                    </div>
                </div>
            </form>
  
            <div class="user-account-day__tab-navbar">
                <div class="user-account-day__tab-name user-account-day__tab-active" id="ownProjectsTab">My Projects</div>
                <div class="user-account-day__tab-name" id="communityProjectsTab">Community Projects</div>
                <div class="user-account-day__tab-name" id="requestsTab">Participation Requests</div>
            </div>
            <div class="user-account-day__tab-container" id="tabsContainer">
                
            </div>
        </div>
    </div>
    @* <div>
        <svg class="user-account-day__color-mode-switch"
             width="112"
             fill="none"
             xmlns="http://www.w3.org/2000/svg">
            <circle cx="55.915"
                    cy="55.915"
                    r="42.9456"
                    transform="rotate(22.0213 55.915 55.915)"
                    fill="#183D3D" />
            <path fill-rule="evenodd"
                  clip-rule="evenodd"
                  d="M43.6879 87.4928C60.7391 94.3892 80.1524 86.1573 87.0489 69.1061C93.9454 52.055 85.7134 32.6416 68.6623 25.7452C64.548 24.0811 60.2962 23.2978 56.1158 23.3067C69.4154 30.7642 75.4117 47.124 69.544 61.6313C63.5017 76.5707 47.0502 84.1759 31.9341 79.467C35.1271 82.8589 39.0864 85.6316 43.6879 87.4928Z"
                  fill="#DEF5E5" />
        </svg>
    </div> *@
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script src="@Url.Content("~/js/LinksHandler.js")"></script>
    <script src="@Url.Content("~/js/UserAccount.js")"></script>
    <script src="@Url.Content("~/js/CreateProject.js")"></script>
    <script src="@Url.Content("~/js/NumberInput.js")"></script>
    <script src="@Url.Content("~/js/ModalWindow.js")"></script>
    <script>
        window.onload = function () {

            var userTechsInput = document.getElementById("userTechsInput");
            @foreach (var technology in Model.User.UsersTechnologies)
            {
                <text>
                    addUserTechToArray('@Html.Raw(@technology.Technologies.Name)');
                </text>
            }
            userTechsInput.value = userTechsArray;

            @foreach (var tech in Model.Technologies)
            {
                <text>
                    modelTechsArray.push('@Html.Raw(@tech.Name)');
                </text>
            }
        };
    </script>
</body>
</html>