@model testProject.Areas.UserAccount.Models.AccountViewModel
@{
    ViewData["Title"] = "Index";
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>
<body>
    <div class="user-account-day">
        <div class="user-account-day__page-content">
            <div class="user-account-day__sign-out">
            </div>
            <form class="user-account-day__user-account" method="post" enctype="multipart/form-data" action="@Url.Action("SaveUserChanges", "Account")">
                <div class="user-account-day__user-image-container" id="userImageContainer">
                    <img src="@Model.User.Photo" class="user-account-day__user-image" id="userImage" />
                    <div class="user-account-day__change-user-image-overlay">
                        <p id="changeUserImageText">Click to change</p>
                        <input class="user-account-day__input-user-image" type="file" accept="image/jpeg, image/jpg, image/png" name="file" id="imageInput" />
                        <label for="imageInput"></label>
                        <img src="~/images/cancel.png" class="user-account-day__delete-user-image-button" id="deleteUserImageButton" onclick="deleteUserImage()" />
                    </div>
                </div>
                <div class="user-account-day__user-account-details">
                    <h2>
                        @Model.User.FirstName @Model.User.LastName
                    </h2>
                    <div class="user-account-day__user-email">
                        <p>Email:</p>
                        <p>@Model.User.Email</p>
                    </div>
                    <div>
                        <h3 class="user-account-day__user-details-header">
                            Skills:
                        </h3>
                        <div class="user-account-day__technologies" id="userAccountTechnologies">
                            @foreach (var technology in Model.User.UsersTechnologies)
                            {
                                <div onclick="dropdownItem_removeUserTech(this, '@technology.Technologies.Name')">
                                    <span class="user-account-day__tooltip">Click to delete</span>
                                    <div class="removeTechOverlay"></div>
                                    <p>@technology.Technologies.Name</p>
                                </div>
                            }
                            <input type="text" class="hidden" name="userTechsArray" id="userTechsInput" />
                            <input type="text" class="hidden" name="updatedUserTechsArray" id="updatedUserTechsArray" />
                            <div class="hidden" id="addUserTechnology" onclick="openUserTechsDropdown()" style="cursor: pointer">
                                <img src="~/images/plus-image0.png" />
                            </div>
                            <div class="user-account-day__technologies-dropdown hidden" id="userTechsDropdown">
                                <div class="header">
                                    <input type="text" placeholder="Search..." id="userTechSearchInput" onkeyup="dropdownFilterFunction()" />
                                    <img src="~/images/cancel.png" onclick="closeUserTechsDropdown()" />
                                </div>
                                <div class="container" id="dropdownTechsContainer">
                                    @foreach(var tech in Model.Technologies)
                                    {
                                        <p onclick="dropdownItem_chooseUserTech('@tech.Name')" id="userTechsDropdownItem">@tech.Name</p>
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="user-account-day__self-description">
                        <h3 class="user-account-day__user-details-header">
                            Self-description:
                        </h3>
                        <textarea readonly
                                  name="updatedDescription"
                                  spellcheck="false"
                                  id="selfDescriptionText"
                                  oninput="auto_height(this)"
                                  onmousemove="auto_height(this)"
                                  onresize="auto_height(this)">@Model.User.About</textarea>
                    </div>
                    <div class="user-account-day__profile-buttons">
                        <button class="hidden" id="buttonSaveProfileChanges" type="submit">
                            <p>Save Changes</p>
                        </button>
                        <button onclick="editProfile()" id="buttonEditProfile" type="button">
                            <p>Edit Profile</p>
                        </button>
                        <button onclick="stopEditingProfile()" class="hidden" id="buttonCancelProfileChanges" type="reset">
                            <p>Cancel</p>
                        </button>
                    </div>
                </div>
            </form>
            
            <div class="user-account-day__horizontal-container">
                <div class="user-account-day__user-projects">
                    @if (!Model.User.ProjectsUser.Any())
                    {
                        <h2>
                            Here will be the projects you are a part of
                        </h2>
                    }
                    else
                    {
                        <h2>
                            Here are the projects you are a part of:
                        </h2>
                    }
                    <div class="user-account-day__projects-container">
                        @foreach (var projectsUser in Model.User.ProjectsUser)
                        {
                            <div class="user-account-day__project">
                                <h2>@projectsUser.Projects.Name</h2>
                                <div class="user-account-day__project-technologies-container">
                                    <h3>
                                        Technologies:
                                    </h3>
                                    <div class="user-account-day__technologies">
                                        @foreach (var projectTechnology in projectsUser.Projects.ProjectsTechnologies)
                                        {
                                            <div>
                                                <p>@projectTechnology.Technologies.Name</p>
                                            </div>
                                        }
                                    </div>
                                </div>
                                <div class="user-account-day__project-info">
                                    <div>
                                        <h3>Owner:</h3>
                                        <p>@projectsUser.Projects.Users.FirstName</p>
                                    </div>
                                    <div>
                                        <h3>
                                            Creation Date:
                                        </h3>
                                        <p>@projectsUser.Projects.CreationDate.ToString("dd.MM.yyyy")</p>
                                    </div>
                                    <div>
                                        <h3>Status:</h3>
                                        <p>@projectsUser.Projects.Status</p>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                </div>
                <div class="user-account-day__vertical-container">
                    <div id="createNewProjectLayout" class="user-account-day__create-new-project">
                        <h2 class="user-account-day__create-new-project-header">
                            Here you can create your new project!
                        </h2>
                        <div class="user-account-day__project-name-container">
                            <textarea id="newAppName"
                                      minlength="4"
                                      maxlength="100"
                                      placeholder="Enter the app name or a project title here..."
                                      oninput="auto_height(this)"></textarea>
                        </div>
                        <button onclick="showDetailed()" type="submit" class="user-account-day__apply-title-button">
                            <p>
                                Go to the next step!
                            </p>
                        </button>
                    </div>
                    <div id="createNewProjectDetailed" class="user-account-day__create-new-project-detailed hidden">
                        <div>
                            <h2 id="newAppNameDetailed">Project Title</h2>
                        </div>
                        <div class="user-account-day__project-description">
                            <h3>Describe your idea more:</h3>
                            <div class="user-account-day__project-desc">
                                <textarea minlength="12"
                                          maxlength="1024"
                                          placeholder="Write a description for your idea (up to 1024 characters)"
                                          oninput="auto_height(this)"></textarea>
                            </div>
                        </div>
                        <div class="user-account-day__new-project-technologies-container">
                            <h3>
                                Choose the technologies your app will be based on:
                            </h3>
                            <div class="user-account-day__technologies">
                                <div>
                                    <button>ASP.Net Core MVC</button>
                                </div>
                                <div>
                                    <button>C#</button>
                                </div>
                                <div>
                                    <button>SQL</button>
                                </div>
                                <div>
                                    <button>HTML/CSS</button>
                                </div>
                                <button>
                                    <div>
                                        <img src="~/images/plus-image0.png" />
                                    </div>
                                </button>
                            </div>
                        </div>
                        <div class="user-account-day__buttons">
                            <button onclick="hideDetailed()"
                                    type="reset"
                                    class="user-account-day__create-project-button user-account-day__cancel-button">
                                <p>
                                    Dismiss all
                                </p>
                            </button>
                            <button onclick="hideDetailed()"
                                    type="submit"
                                    class="user-account-day__create-project-button">
                                <p>
                                    Create the project!
                                </p>
                            </button>
                        </div>
                    </div>
                    <div class="user-account-day__user-requests">
                        @if (!Model.User.Requests.Any())
                        {
                            <h2 class="user-account-day__user-requests-title">You don't have any requests to partcipate in other projects at the moment.</h2>
                        }
                        else
                        {
                            <h2 class="user-account-day__user-requests-title">
                                Your requests to participate in other projects:
                            </h2>
                        }
                        <div class="user-account-day__user-requests-container">
                            @foreach (var request in Model.User.Requests)
                            {
                                <div class="user-account-day__request">
                                    <h2>
                                        Request to be a part of @request.Projects.Name team
                                    </h2>
                                    <div class="user-account-day__request-info">
                                        <div>
                                            <h3>Date:</h3>
                                            <p>@request.Date.ToString("dd.MM.yyyy")</p>
                                        </div>
                                        <div>
                                            <h3>Status:</h3>
                                            <p>@request.Status</p>
                                        </div>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <svg class="user-account-day__color-mode-switch"
             width="112"
             height="112"
             viewBox="0 0 112 112"
             fill="none"
             xmlns="http://www.w3.org/2000/svg">
            <circle cx="55.915"
                    cy="55.915"
                    r="42.9456"
                    transform="rotate(22.0213 55.915 55.915)"
                    fill="#183D3D" />
            <path fill-rule="evenodd"
                  clip-rule="evenodd"
                  d="M43.6879 87.4928C60.7391 94.3892 80.1524 86.1573 87.0489 69.1061C93.9454 52.055 85.7134 32.6416 68.6623 25.7452C64.548 24.0811 60.2962 23.2978 56.1158 23.3067C69.4154 30.7642 75.4117 47.124 69.544 61.6313C63.5017 76.5707 47.0502 84.1759 31.9341 79.467C35.1271 82.8589 39.0864 85.6316 43.6879 87.4928Z"
                  fill="#DEF5E5" />
        </svg>
    </div>
    <script src="@Url.Content("~/js/UserAccount.js")"></script>
    <script>
        window.onload = function () {
            var userTechsInput = document.getElementById("userTechsInput");
            @foreach (var technology in Model.User.UsersTechnologies)
            {
                <text>
                    addTechToArray('@technology.Technologies.Name');
                </text>
            }
            userTechsInput.value = userTechsArray;

        @foreach (var tech in Model.Technologies)
            {
                <text>
                    modelTechsArray.push('@tech.Name');
                </text>
            }
        };
    </script>
</body>
</html>